<mat-tab-group>
  <mat-tab label="Cards">
    <app-cards></app-cards>
  </mat-tab>
  <mat-tab label="List">
    <mat-list role="list">
      <h3 mat-subheader>Courses</h3>
      <mat-list-item role="listitem">
        <mat-icon mat-list-icon>menu_book</mat-icon>
        <h4 mat-line>Angular</h4>
        <p mat-line>Angular desde 0</p>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Tree">
    <app-tree></app-tree>
  </mat-tab>
  <mat-tab label="Expansion">
    <app-expansion></app-expansion>
  </mat-tab>
  <mat-tab label="Tabla">
    <app-table></app-table>
  </mat-tab>
</mat-tab-group>
