<mat-card>
  <mat-card-title> Curso Nuevo </mat-card-title>
  <div class="form-container">
    <mat-form-field>
      <input matInput placeholder="Nombre" type="text" />
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Descripcion"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Especialidad">
        <mat-option value="angular">Angular</mat-option>
        <mat-option value="javascript">JavaScript</mat-option>
      </mat-select>
      <div></div>

      <textarea matInput placeholder="Descripcion"></textarea>
    </mat-form-field>
  </div>
</mat-card>
